<div class="commentContainer">
    <div class="row">
        <div class="col s12">
            <ul class="collection comCollection">
                {% for n in comments %}
                    <li class="collection-item">
                        <div class="row">
                            <div class="col s3">
                                {{ n.date|date('m-d-Y H:i') }} | {{ n.pseudo }}
                            </div>
                            <div class="col s9">
                                {{ n.body }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="pagination">
                {% if(activeComPage == 1) %}
                    <li class="disabled">
                        <a href="#!">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                {% else %}
                    <li class="waves-effect">
                        <a class="pagLink" href="{{ festival.uname }}/{{ activeComPage-1 }}"><i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                {% endif %}
                {% for n in 1..nbComPagPage %}
                    {% if(n == activeComPage) %}
                        <li class="active">
                            <a href="#!">{{ n }}</a>
                        </li>
                    {% else %}
                        <li class="waves-effect">
                            <a class="pagLink" class="black-text" href="{{ festival.uname }}/{{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}
                {%  endfor %}
                {% if(activeComPage == nbComPagPage) %}
                    <li class="disabled">
                        <a href="#!">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                {% else %}
                    <li class="waves-effect">
                        <a class="pagLink" href="{{ festival.uname }}/{{ activeComPage+1 }}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
