<div class="row">
    <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
            {% for n in news %}
                <li>
                    <div class="collapsible-header">
                        <div class="row">
                            <div class="col s3">
                                <span>Publied the {{ n.date|date('m-d-Y') }}</span>
                            </div>
                            <div class="col s9">
                                <h3>{{ n.title }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <p class="truncate">{{ n.body }}</p>
                        <div class="center-align">
                            <a class="waves-effect waves-light btn black-text" href="{{ path('news', { 'title': n.utitle}) }}">Read more</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="pagination">
            {% if(activePage == 1) %}
                <li class="disabled">
                    <a href="#!">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% else %}
                <li class="waves-effect">
                    <a class="pag2Link" href="{{ activePage-1 }}"><i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% endif %}
            {% for n in 1..nbPagPage %}
                {% if(n == activePage) %}
                    <li class="active">
                        <a href="#!">{{ n }}</a>
                    </li>
                {% else %}
                    <li class="waves-effect">
                        <a class="pag2Link" class="black-text" href="{{ n }}">{{ n }}</a>
                    </li>
                {% endif %}
            {%  endfor %}
            {% if(activePage == nbPagPage) %}
                <li class="disabled">
                    <a href="#!">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% else %}
                <li class="waves-effect">
                    <a class="pag2Link" href="{{ activePage+1 }}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>