{# src/Festizoom/AppBundle/Resources/views/news/news.html.twig #}

{% extends "FestizoomAppBundle:base:pattern.html.twig" %}

{% block body %}
        {% if(news is iterable) %}
            <div class="row">
                <div class="banner1 col s11">
                    <h1>News</h1>
                </div>
            </div>
            {% if(news|length > 0) %}
                <div class="col s12">
                   <ul class="collapsible popout" data-collapsible="accordion">
                    {% for n in news %}
                        <li>
                             <div class="collapsible-header">
                                    <div class="row">
                                        <div class="col s3">
                                            <span>Publied the {{ n.date|date('m-d-Y') }}</span>
                                        </div>
                                        <div class="col s9">
                                            <h3>{{ n.title }}</h3>
                                        </div>
                                    </div>
                             </div>
                             <div class="collapsible-body">
                                <p class="truncate">{{ n.body }}</p>
                                <div class="center-align">
                                    <a class="waves-effect waves-light btn black-text" href="{{ path('news', { 'title': n.utitle}) }}">Read more</a>
                                </div>
                             </div>
                        </li>
                    {% endfor %}
                   </ul>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="pagination">
                            {% if(activePage == 1) %}
                                <li class="disabled">
                                    <a href="#!">
                                        <i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="waves-effect">
                                    <a href="{{ path('allNews', { 'pagNum': activePage-1 }) }}"><i class="material-icons">chevron_left</i>
                                    </a>
                                </li>
                            {% endif %}
                            {% for n in 1..nbPagPage %}
                                {% if(n == activePage) %}
                                    <li class="active">
                                        <a href="{{ path('allNews', { 'pagNum': n }) }}">{{ n }}</a>
                                    </li>
                                {% else %}
                                    <li class="waves-effect">
                                        <a class="black-text" href="{{ path('allNews', { 'pagNum': n }) }}">{{ n }}</a>
                                    </li>
                                {% endif %}
                            {%  endfor %}
                            {% if(activePage == nbPagPage) %}
                                <li class="disabled">
                                    <a href="#!">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="waves-effect">
                                    <a href="{{ path('allNews', { 'pagNum': activePage+1 }) }}">
                                        <i class="material-icons">chevron_right</i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="col s12">
                    <p class="center-align">Aucune nouvelles.</p>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="banner1 col s11">
                    <h1 class="truncate">{{ news.title }}</h1>
                </div>
            </div>
            <p>Publié le {{ news.date|date('d-m-Y') }}<br /><br />{{ news.body|raw }}</p>
            <div class="center-align">
                <a class="waves-effect waves-light btn black-text" href="{{ path('allNews', { 'pagNum': 1})  }}">Retour</a>
            </div>
        {% endif  %}
{% endblock %}